body {
  color: gray;
  padding: 50px;
  font-family: sans-serif;
}

.Hello {

  &__h1 {
    color: blue;
  }
  
}

.group-by-two {

}

.group-by-two__column {
  display: inline-block;
  width: 50%;
  text-align: center;
  border-bottom: 1px solid #F1F1F1;
}

.group-by-two__item {
  padding: 12px;
}