body {
  color: gray;
}

.Hello {

  &__h1 {
    color: blue;
  }
  
}

.group-by-two {

}

.group-by-two__column {
  display: inline-block;
  width: 50%;
  text-align: center;
}

.group-by-two__item {
  padding: 10px;
}